body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: calc(12px + 0.5vw);
}
.embed-container {
  position: relative;
  width: 80vw;
  height: 80vh;
  max-width: 2000px;
  max-height: 800px;
  margin: 20px auto;
  border: 2px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 10px;
  max-width: 100%;
}

.filter-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

select, input {
  padding: 8px;
  font-size: 14px;
  min-width: 220px; /* Ensure all fields have the same width */
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

button {
  padding: 8px 15px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}

#secondaryFilterContainer {
  display: none;
  position: absolute;
  top: 80px;
  z-index: 10;
  margin-top: 20px;
  text-align: center;
  width: 96%;
}
#map {
  position: absolute;
  top: 15%;
  left: 0%;
  width: 100%;
  height: 85%;
  border: none;
  border-radius: 20px;
}
select,
button {
  font-weight: normal;
  text-transform: capitalize;
  font-size: calc(0.7em + 0.2vw);
}
.action-buttons {
  position: absolute;
  top: 15%;
  right: 1%;
  display: grid;
  gap: 1em;
  z-index: 150;
}
.fullscreen-button,
.traffic-button {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: calc(0.5em + 0.2vw);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}
.fullscreen-button:hover,
.traffic-button:hover {
  background-color: #053e27;
  transform: scale(1.05);
}
#data-header {
  background-color: #f0f0f0;
  padding: 5px;
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  z-index: 101;
  position: relative;
}
#closeTableBtn {
  background-color: #ff5c5c;
  color: white;
  border: none;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-weight: normal;
  text-align: center;
  line-height: 18px;
}
#data-output {
  position: absolute;
  bottom: 2%;
  left: 2%;
  background-color: rgba(255, 255, 255, 0.95);
  width: 60vw;
  height: 40vh;
  max-height: 80%;
  max-width: 60vw;
  display: none;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #a6a6a6;
  resize: both;
  overflow: auto;
  padding-bottom: 10px;
}
#data-table {
  max-height: calc(100% - 30px);
  overflow-y: auto;
  overflow-x: auto;
  padding: 1%;
  margin-bottom: 0;
}
#data-output table {
  width: 50%;
  border-collapse: collapse;
  font-size: calc(0.5em + 0.2vw);
  border: 1px solid #d0d0d0;
}
#data-output th,
#data-output td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}
#data-output th {
  background-color: #053e27;
  color: white;
}
#data-output tr:nth-child(even) {
  background-color: #f2f2f2;
}
#data-output tr.highlight {
  background-color: #ffdddd;
}
